Train2VehicleAdvanced/model/Train2VehicleAdvancedXMI.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:AdvancedTrain="platform:/resource/AdvancedTrain/model/AdvancedTrain.ecore" xmlns:AdvancedVehicle="platform:/resource/AdvancedVehicle/model/AdvancedVehicle.ecore" xmlns:Train2VehicleAdvanced="platform:/resource/Train2VehicleAdvanced/model/Train2VehicleAdvanced.ecore" xmlns:org.emoflon.ibex.tgg.core.runtime="platform:/plugin/org.emoflon.ibex.tgg.core.runtime/model/Runtime.ecore" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="platform:/resource/Train2VehicleAdvanced/model/Train2VehicleAdvanced.ecore">
  <xsd:import namespace="platform:/plugin/org.emoflon.ibex.tgg.core.runtime/model/Runtime.ecore" schemaLocation="runtime.xsd"/>
  <xsd:import namespace="http://www.omg.org/XMI" schemaLocation="platform:/plugin/org.eclipse.emf.ecore/model/XMI.xsd"/>
  <xsd:import namespace="platform:/resource/AdvancedVehicle/model/AdvancedVehicle.ecore" schemaLocation="AdvancedVehicle.xsd"/>
  <xsd:import namespace="platform:/resource/AdvancedTrain/model/AdvancedTrain.ecore" schemaLocation="AdvancedTrain.xsd"/>
  <xsd:complexType name="Train2Vehicle">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="source" type="AdvancedTrain:Train"/>
      <xsd:element name="target" type="AdvancedVehicle:Vehicle"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="source" type="xsd:string"/>
    <xsd:attribute name="target" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Train2Vehicle" type="Train2VehicleAdvanced:Train2Vehicle"/>
  <xsd:complexType name="LocDriver2Driver">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="source" type="AdvancedTrain:LocomotiveDriver"/>
      <xsd:element name="target" type="AdvancedVehicle:Driver"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="source" type="xsd:string"/>
    <xsd:attribute name="target" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="LocDriver2Driver" type="Train2VehicleAdvanced:LocDriver2Driver"/>
  <xsd:complexType name="Loc2PropulsiveSection">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="source" type="AdvancedTrain:Locomotive"/>
      <xsd:element name="target" type="AdvancedVehicle:PropulsiveSection"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="source" type="xsd:string"/>
    <xsd:attribute name="target" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Loc2PropulsiveSection" type="Train2VehicleAdvanced:Loc2PropulsiveSection"/>
  <xsd:complexType name="Wagon2Section">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="source" type="AdvancedTrain:Wagon"/>
      <xsd:element name="target" type="AdvancedVehicle:Section"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="source" type="xsd:string"/>
    <xsd:attribute name="target" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Wagon2Section" type="Train2VehicleAdvanced:Wagon2Section"/>
  <xsd:complexType name="BenchSeat2Seat">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="source" type="AdvancedTrain:BenchSeat"/>
      <xsd:element name="target" type="AdvancedVehicle:Seat"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="source" type="xsd:string"/>
    <xsd:attribute name="target" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="BenchSeat2Seat" type="Train2VehicleAdvanced:BenchSeat2Seat"/>
  <xsd:complexType name="BenchSeat2Seats__Marker">
    <xsd:complexContent>
      <xsd:extension base="org.emoflon.ibex.tgg.core.runtime:TGGRuleApplication">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="CREATE__SRC__bench" type="AdvancedTrain:BenchSeat"/>
          <xsd:element name="CONTEXT__SRC__wagon" type="AdvancedTrain:Wagon"/>
          <xsd:element name="CREATE__TRG__leftSeat" type="AdvancedVehicle:Seat"/>
          <xsd:element name="CREATE__TRG__rightSeat" type="AdvancedVehicle:Seat"/>
          <xsd:element name="CONTEXT__TRG__section" type="AdvancedVehicle:Section"/>
          <xsd:element name="CREATE__CORR__bench2LeftSeat" type="Train2VehicleAdvanced:BenchSeat2Seat"/>
          <xsd:element name="CREATE__CORR__bench2RightSeat" type="Train2VehicleAdvanced:BenchSeat2Seat"/>
          <xsd:element name="CONTEXT__CORR__wagon2section" type="Train2VehicleAdvanced:Wagon2Section"/>
        </xsd:choice>
        <xsd:attribute name="CREATE__SRC__bench" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__SRC__wagon" type="xsd:string"/>
        <xsd:attribute name="CREATE__TRG__leftSeat" type="xsd:string"/>
        <xsd:attribute name="CREATE__TRG__rightSeat" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__TRG__section" type="xsd:string"/>
        <xsd:attribute name="CREATE__CORR__bench2LeftSeat" type="xsd:string"/>
        <xsd:attribute name="CREATE__CORR__bench2RightSeat" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__CORR__wagon2section" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="BenchSeat2Seats__Marker" type="Train2VehicleAdvanced:BenchSeat2Seats__Marker"/>
  <xsd:complexType name="FirstWagon2Section__Marker">
    <xsd:complexContent>
      <xsd:extension base="org.emoflon.ibex.tgg.core.runtime:TGGRuleApplication">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="CONTEXT__SRC__loc" type="AdvancedTrain:Locomotive"/>
          <xsd:element name="CONTEXT__SRC__train" type="AdvancedTrain:Train"/>
          <xsd:element name="CREATE__SRC__wagon" type="AdvancedTrain:Wagon"/>
          <xsd:element name="CONTEXT__TRG__propSect" type="AdvancedVehicle:PropulsiveSection"/>
          <xsd:element name="CREATE__TRG__sect" type="AdvancedVehicle:Section"/>
          <xsd:element name="CONTEXT__CORR__loc2PropSect" type="Train2VehicleAdvanced:Loc2PropulsiveSection"/>
          <xsd:element name="CREATE__CORR__wagon2Sect" type="Train2VehicleAdvanced:Wagon2Section"/>
        </xsd:choice>
        <xsd:attribute name="CONTEXT__SRC__loc" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__SRC__train" type="xsd:string"/>
        <xsd:attribute name="CREATE__SRC__wagon" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__TRG__propSect" type="xsd:string"/>
        <xsd:attribute name="CREATE__TRG__sect" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__CORR__loc2PropSect" type="xsd:string"/>
        <xsd:attribute name="CREATE__CORR__wagon2Sect" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="FirstWagon2Section__Marker" type="Train2VehicleAdvanced:FirstWagon2Section__Marker"/>
  <xsd:complexType name="Loc2Section__Marker">
    <xsd:complexContent>
      <xsd:extension base="org.emoflon.ibex.tgg.core.runtime:TGGRuleApplication">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="CREATE__SRC__loc" type="AdvancedTrain:Locomotive"/>
          <xsd:element name="CONTEXT__SRC__train" type="AdvancedTrain:Train"/>
          <xsd:element name="CREATE__TRG__engine" type="AdvancedVehicle:Engine"/>
          <xsd:element name="CREATE__TRG__propSect" type="AdvancedVehicle:PropulsiveSection"/>
          <xsd:element name="CONTEXT__TRG__vehicle" type="AdvancedVehicle:Vehicle"/>
          <xsd:element name="CREATE__CORR__loc2propSect" type="Train2VehicleAdvanced:Loc2PropulsiveSection"/>
          <xsd:element name="CONTEXT__CORR__train2vehicle" type="Train2VehicleAdvanced:Train2Vehicle"/>
        </xsd:choice>
        <xsd:attribute name="CREATE__SRC__loc" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__SRC__train" type="xsd:string"/>
        <xsd:attribute name="CREATE__TRG__engine" type="xsd:string"/>
        <xsd:attribute name="CREATE__TRG__propSect" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__TRG__vehicle" type="xsd:string"/>
        <xsd:attribute name="CREATE__CORR__loc2propSect" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__CORR__train2vehicle" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Loc2Section__Marker" type="Train2VehicleAdvanced:Loc2Section__Marker"/>
  <xsd:complexType name="LocDriver2Driver__Marker">
    <xsd:complexContent>
      <xsd:extension base="org.emoflon.ibex.tgg.core.runtime:TGGRuleApplication">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="CONTEXT__SRC__loc" type="AdvancedTrain:Locomotive"/>
          <xsd:element name="CREATE__SRC__locDriver" type="AdvancedTrain:LocomotiveDriver"/>
          <xsd:element name="CREATE__TRG__driver" type="AdvancedVehicle:Driver"/>
          <xsd:element name="CREATE__TRG__driversSeat" type="AdvancedVehicle:DriversSeat"/>
          <xsd:element name="CONTEXT__TRG__propSect" type="AdvancedVehicle:PropulsiveSection"/>
          <xsd:element name="CONTEXT__TRG__vehicle" type="AdvancedVehicle:Vehicle"/>
          <xsd:element name="CONTEXT__CORR__loc2PropSect" type="Train2VehicleAdvanced:Loc2PropulsiveSection"/>
          <xsd:element name="CREATE__CORR__locDriver2driver" type="Train2VehicleAdvanced:LocDriver2Driver"/>
        </xsd:choice>
        <xsd:attribute name="CONTEXT__SRC__loc" type="xsd:string"/>
        <xsd:attribute name="CREATE__SRC__locDriver" type="xsd:string"/>
        <xsd:attribute name="CREATE__TRG__driver" type="xsd:string"/>
        <xsd:attribute name="CREATE__TRG__driversSeat" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__TRG__propSect" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__TRG__vehicle" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__CORR__loc2PropSect" type="xsd:string"/>
        <xsd:attribute name="CREATE__CORR__locDriver2driver" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="LocDriver2Driver__Marker" type="Train2VehicleAdvanced:LocDriver2Driver__Marker"/>
  <xsd:complexType name="Train2Vehicle__Marker">
    <xsd:complexContent>
      <xsd:extension base="org.emoflon.ibex.tgg.core.runtime:TGGRuleApplication">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="CREATE__SRC__train" type="AdvancedTrain:Train"/>
          <xsd:element name="CREATE__TRG__vehicle" type="AdvancedVehicle:Vehicle"/>
          <xsd:element name="CREATE__CORR__train2vehicle" type="Train2VehicleAdvanced:Train2Vehicle"/>
        </xsd:choice>
        <xsd:attribute name="CREATE__SRC__train" type="xsd:string"/>
        <xsd:attribute name="CREATE__TRG__vehicle" type="xsd:string"/>
        <xsd:attribute name="CREATE__CORR__train2vehicle" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Train2Vehicle__Marker" type="Train2VehicleAdvanced:Train2Vehicle__Marker"/>
  <xsd:complexType name="Wagon2Section__Marker">
    <xsd:complexContent>
      <xsd:extension base="org.emoflon.ibex.tgg.core.runtime:TGGRuleApplication">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="CREATE__SRC__followingWagon" type="AdvancedTrain:Wagon"/>
          <xsd:element name="CONTEXT__SRC__leadingWagon" type="AdvancedTrain:Wagon"/>
          <xsd:element name="CONTEXT__SRC__train" type="AdvancedTrain:Train"/>
          <xsd:element name="CREATE__TRG__followingSect" type="AdvancedVehicle:Section"/>
          <xsd:element name="CONTEXT__TRG__leadingSect" type="AdvancedVehicle:Section"/>
          <xsd:element name="CREATE__CORR__folWagon2FolSect" type="Train2VehicleAdvanced:Wagon2Section"/>
          <xsd:element name="CONTEXT__CORR__ledWagon2ledSect" type="Train2VehicleAdvanced:Wagon2Section"/>
        </xsd:choice>
        <xsd:attribute name="CREATE__SRC__followingWagon" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__SRC__leadingWagon" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__SRC__train" type="xsd:string"/>
        <xsd:attribute name="CREATE__TRG__followingSect" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__TRG__leadingSect" type="xsd:string"/>
        <xsd:attribute name="CREATE__CORR__folWagon2FolSect" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__CORR__ledWagon2ledSect" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Wagon2Section__Marker" type="Train2VehicleAdvanced:Wagon2Section__Marker"/>
</xsd:schema>
