Clazz2GlossarDoc/model/Clazz2GlossarDocXMI.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:Clazz2GlossarDoc="platform:/resource/Clazz2GlossarDoc/model/Clazz2GlossarDoc.ecore" xmlns:glossarDocumentation="platform:/resource/GlossarDocumentation/model/glossarDocumentation.ecore" xmlns:org.emoflon.ibex.tgg.core.runtime="platform:/plugin/org.emoflon.ibex.tgg.core.runtime/model/Runtime.ecore" xmlns:simpleClassInheritance="platform:/resource/SimpleClassInheritance/model/simpleClassInheritance.ecore" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="platform:/resource/Clazz2GlossarDoc/model/Clazz2GlossarDoc.ecore">
  <xsd:import namespace="platform:/plugin/org.emoflon.ibex.tgg.core.runtime/model/Runtime.ecore" schemaLocation="runtime.xsd"/>
  <xsd:import namespace="http://www.omg.org/XMI" schemaLocation="platform:/plugin/org.eclipse.emf.ecore/model/XMI.xsd"/>
  <xsd:import namespace="platform:/resource/GlossarDocumentation/model/glossarDocumentation.ecore" schemaLocation="glossarDocumentation.xsd"/>
  <xsd:import namespace="platform:/resource/SimpleClassInheritance/model/simpleClassInheritance.ecore" schemaLocation="simpleClassInheritance.xsd"/>
  <xsd:complexType name="Container2container">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="source" type="simpleClassInheritance:ClazzContainer"/>
      <xsd:element name="target" type="glossarDocumentation:DocumentationContainer"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="source" type="xsd:string"/>
    <xsd:attribute name="target" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Container2container" type="Clazz2GlossarDoc:Container2container"/>
  <xsd:complexType name="Clazz2doc">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="source" type="simpleClassInheritance:Clazz"/>
      <xsd:element name="target" type="glossarDocumentation:Document"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="source" type="xsd:string"/>
    <xsd:attribute name="target" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Clazz2doc" type="Clazz2GlossarDoc:Clazz2doc"/>
  <xsd:complexType name="Field2entry">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="source" type="simpleClassInheritance:Field"/>
      <xsd:element name="target" type="glossarDocumentation:Entry"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="source" type="xsd:string"/>
    <xsd:attribute name="target" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Field2entry" type="Clazz2GlossarDoc:Field2entry"/>
  <xsd:complexType name="Method2entry">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="source" type="simpleClassInheritance:Method"/>
      <xsd:element name="target" type="glossarDocumentation:Entry"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="source" type="xsd:string"/>
    <xsd:attribute name="target" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Method2entry" type="Clazz2GlossarDoc:Method2entry"/>
  <xsd:complexType name="Parameter2entry">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="source" type="simpleClassInheritance:Parameter"/>
      <xsd:element name="target" type="glossarDocumentation:Entry"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="source" type="xsd:string"/>
    <xsd:attribute name="target" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Parameter2entry" type="Clazz2GlossarDoc:Parameter2entry"/>
  <xsd:complexType name="Clazz2DocRule__Marker">
    <xsd:complexContent>
      <xsd:extension base="org.emoflon.ibex.tgg.core.runtime:TGGRuleApplication">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="CONTEXT__SRC__cCont" type="simpleClassInheritance:ClazzContainer"/>
          <xsd:element name="CREATE__SRC__clazz" type="simpleClassInheritance:Clazz"/>
          <xsd:element name="CONTEXT__TRG__dCont" type="glossarDocumentation:DocumentationContainer"/>
          <xsd:element name="CREATE__TRG__doc" type="glossarDocumentation:Document"/>
          <xsd:element name="CREATE__CORR__c2d" type="Clazz2GlossarDoc:Clazz2doc"/>
          <xsd:element name="CONTEXT__CORR__cont2cont" type="Clazz2GlossarDoc:Container2container"/>
        </xsd:choice>
        <xsd:attribute name="CONTEXT__SRC__cCont" type="xsd:string"/>
        <xsd:attribute name="CREATE__SRC__clazz" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__TRG__dCont" type="xsd:string"/>
        <xsd:attribute name="CREATE__TRG__doc" type="xsd:string"/>
        <xsd:attribute name="CREATE__CORR__c2d" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__CORR__cont2cont" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Clazz2DocRule__Marker" type="Clazz2GlossarDoc:Clazz2DocRule__Marker"/>
  <xsd:complexType name="Container2ContainerRule__Marker">
    <xsd:complexContent>
      <xsd:extension base="org.emoflon.ibex.tgg.core.runtime:TGGRuleApplication">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="CREATE__SRC__cCont" type="simpleClassInheritance:ClazzContainer"/>
          <xsd:element name="CREATE__TRG__dCont" type="glossarDocumentation:DocumentationContainer"/>
          <xsd:element name="CREATE__TRG__glossar" type="glossarDocumentation:Glossar"/>
          <xsd:element name="CREATE__CORR__c2d" type="Clazz2GlossarDoc:Container2container"/>
        </xsd:choice>
        <xsd:attribute name="CREATE__SRC__cCont" type="xsd:string"/>
        <xsd:attribute name="CREATE__TRG__dCont" type="xsd:string"/>
        <xsd:attribute name="CREATE__TRG__glossar" type="xsd:string"/>
        <xsd:attribute name="CREATE__CORR__c2d" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Container2ContainerRule__Marker" type="Clazz2GlossarDoc:Container2ContainerRule__Marker"/>
  <xsd:complexType name="Field2EntityRule__Marker">
    <xsd:complexContent>
      <xsd:extension base="org.emoflon.ibex.tgg.core.runtime:TGGRuleApplication">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="CONTEXT__SRC__clazz" type="simpleClassInheritance:Clazz"/>
          <xsd:element name="CREATE__SRC__field" type="simpleClassInheritance:Field"/>
          <xsd:element name="CONTEXT__TRG__doc" type="glossarDocumentation:Document"/>
          <xsd:element name="CREATE__TRG__entry" type="glossarDocumentation:Entry"/>
          <xsd:element name="CONTEXT__CORR__c2d" type="Clazz2GlossarDoc:Clazz2doc"/>
          <xsd:element name="CREATE__CORR__f2e" type="Clazz2GlossarDoc:Field2entry"/>
        </xsd:choice>
        <xsd:attribute name="CONTEXT__SRC__clazz" type="xsd:string"/>
        <xsd:attribute name="CREATE__SRC__field" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__TRG__doc" type="xsd:string"/>
        <xsd:attribute name="CREATE__TRG__entry" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__CORR__c2d" type="xsd:string"/>
        <xsd:attribute name="CREATE__CORR__f2e" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Field2EntityRule__Marker" type="Clazz2GlossarDoc:Field2EntityRule__Marker"/>
  <xsd:complexType name="GlossarEntryRule__Marker">
    <xsd:complexContent>
      <xsd:extension base="org.emoflon.ibex.tgg.core.runtime:TGGRuleApplication">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="CREATE__TRG__entry" type="glossarDocumentation:GlossarEntry"/>
          <xsd:element name="CONTEXT__TRG__glossar" type="glossarDocumentation:Glossar"/>
        </xsd:choice>
        <xsd:attribute name="CREATE__TRG__entry" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__TRG__glossar" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GlossarEntryRule__Marker" type="Clazz2GlossarDoc:GlossarEntryRule__Marker"/>
  <xsd:complexType name="GlossarLinkRule__Marker">
    <xsd:complexContent>
      <xsd:extension base="org.emoflon.ibex.tgg.core.runtime:TGGRuleApplication">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="CONTEXT__TRG__entry" type="glossarDocumentation:Entry"/>
          <xsd:element name="CONTEXT__TRG__gEntry" type="glossarDocumentation:GlossarEntry"/>
        </xsd:choice>
        <xsd:attribute name="CONTEXT__TRG__entry" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__TRG__gEntry" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GlossarLinkRule__Marker" type="Clazz2GlossarDoc:GlossarLinkRule__Marker"/>
  <xsd:complexType name="InheritanceRule__Marker">
    <xsd:complexContent>
      <xsd:extension base="org.emoflon.ibex.tgg.core.runtime:TGGRuleApplication">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="CREATE__SRC__subClazz" type="simpleClassInheritance:Clazz"/>
          <xsd:element name="CONTEXT__SRC__superClazz" type="simpleClassInheritance:Clazz"/>
          <xsd:element name="CONTEXT__TRG__dCont" type="glossarDocumentation:DocumentationContainer"/>
          <xsd:element name="CREATE__TRG__subDoc" type="glossarDocumentation:Document"/>
          <xsd:element name="CONTEXT__TRG__superDoc" type="glossarDocumentation:Document"/>
          <xsd:element name="CREATE__CORR__sub2sub" type="Clazz2GlossarDoc:Clazz2doc"/>
          <xsd:element name="CONTEXT__CORR__super2super" type="Clazz2GlossarDoc:Clazz2doc"/>
        </xsd:choice>
        <xsd:attribute name="CREATE__SRC__subClazz" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__SRC__superClazz" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__TRG__dCont" type="xsd:string"/>
        <xsd:attribute name="CREATE__TRG__subDoc" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__TRG__superDoc" type="xsd:string"/>
        <xsd:attribute name="CREATE__CORR__sub2sub" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__CORR__super2super" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InheritanceRule__Marker" type="Clazz2GlossarDoc:InheritanceRule__Marker"/>
  <xsd:complexType name="Method2EntityRule__Marker">
    <xsd:complexContent>
      <xsd:extension base="org.emoflon.ibex.tgg.core.runtime:TGGRuleApplication">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="CONTEXT__SRC__clazz" type="simpleClassInheritance:Clazz"/>
          <xsd:element name="CREATE__SRC__method" type="simpleClassInheritance:Method"/>
          <xsd:element name="CONTEXT__TRG__doc" type="glossarDocumentation:Document"/>
          <xsd:element name="CREATE__TRG__entry" type="glossarDocumentation:Entry"/>
          <xsd:element name="CONTEXT__CORR__c2d" type="Clazz2GlossarDoc:Clazz2doc"/>
          <xsd:element name="CREATE__CORR__f2e" type="Clazz2GlossarDoc:Method2entry"/>
        </xsd:choice>
        <xsd:attribute name="CONTEXT__SRC__clazz" type="xsd:string"/>
        <xsd:attribute name="CREATE__SRC__method" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__TRG__doc" type="xsd:string"/>
        <xsd:attribute name="CREATE__TRG__entry" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__CORR__c2d" type="xsd:string"/>
        <xsd:attribute name="CREATE__CORR__f2e" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Method2EntityRule__Marker" type="Clazz2GlossarDoc:Method2EntityRule__Marker"/>
  <xsd:complexType name="ParameterRule__Marker">
    <xsd:complexContent>
      <xsd:extension base="org.emoflon.ibex.tgg.core.runtime:TGGRuleApplication">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="CONTEXT__SRC__method" type="simpleClassInheritance:Method"/>
          <xsd:element name="CREATE__SRC__param" type="simpleClassInheritance:Parameter"/>
          <xsd:element name="CONTEXT__TRG__entry" type="glossarDocumentation:Entry"/>
          <xsd:element name="CONTEXT__CORR__m2e" type="Clazz2GlossarDoc:Method2entry"/>
          <xsd:element name="CREATE__CORR__p2e" type="Clazz2GlossarDoc:Parameter2entry"/>
        </xsd:choice>
        <xsd:attribute name="CONTEXT__SRC__method" type="xsd:string"/>
        <xsd:attribute name="CREATE__SRC__param" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__TRG__entry" type="xsd:string"/>
        <xsd:attribute name="CONTEXT__CORR__m2e" type="xsd:string"/>
        <xsd:attribute name="CREATE__CORR__p2e" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ParameterRule__Marker" type="Clazz2GlossarDoc:ParameterRule__Marker"/>
</xsd:schema>
